<div class="container">
  <div class="row">
    <div class="col">
      <div id="title">
        <p><span>02</span>Meet your crew</p>
      </div>
      <div id="main">
        <span>PILOT</span>
        <h3>VICTOR GLOVER</h3>
        <p>Pilot on the first operational flight of the SpaceX Crew Dragon to the International Space Station. Glover is
          a commander in the U.S. Navy where he pilots an F/A-18.He was a crew member of Expedition 64, and served as a
          station systems flight engineer.</p>
      </div>
    </div>
    <div class="col" id="img-content">
      <img src="../../../assets/crew/image-victor-glover.png" alt="">
    </div>
  </div>
</div>
