<div class="container">
  <div class="row">
    <div class="col">
      <p id="title"><span>01</span>PICK YOUR DESTINATION</p>
      <img src="../../../assets/destination/image-mars.png" alt="">
    </div>
    <div class="col" id="text">
      <h3>mars</h3>
      <p>Don’t forget to pack your hiking boots. You’ll need them to
        tackle Olympus Mons, the tallest planetary mountain in
        our solar system. It’s two and a half times the size of
        Everest!</p>
      <hr>
      <div id="data">
        <div>
          <span>Avg. distance</span>
          <p>225 MIL. km</p>
        </div>
        <div>
          <span>Est. travel time</span>
          <p>9 months</p>
        </div>
      </div>
    </div>
  </div>
</div>
