<div class="container">
  <div class="row">
    <div class="col">
      <div id="title">
        <p><span>02</span>Meet your crew</p>
      </div>
      <div id="main">
        <span>MISSION SPECIALIST</span>
        <h3>MARK SHUTTLEWORTH</h3>
        <p>Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu
          operating system. Shuttleworth became the first South African to travel to space as a space tourist.</p>
      </div>
    </div>
    <div class="col" id="img-content">
      <img src="../../../assets/crew/image-mark-shuttleworth.png" alt="">
    </div>
  </div>
</div>
