<nav class="navbar">
  <div class="container-fluid">
    <img src="../../../assets/shared/logo.svg" alt="logo" id="logo">
    <div class="divicion"></div>
    <div class="navbar-expand" id="navegacion">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"><span>00</span> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/destination/moom']"><span>01</span> Destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/crew/comander']"><span>02</span> Crew</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/technology/vehiculo']"><span>03</span> Technology</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
