<div class="container">
  <div class="row">
    <div class="col">
      <p id="title"><span>01</span>PICK YOUR DESTINATION</p>
      <img src="../../../assets/destination/image-titan.png" alt="">
    </div>
    <div class="col" id="text">
      <h3>titan</h3>
      <p>The only moon known to have a dense atmosphere other
        than Earth, Titan is a home away from home (just a few
        hundred degrees colder!). As a bonus, you get striking
        views of the Rings of Saturn.</p>
      <hr>
      <div id="data">
        <div>
          <span>Avg. distance</span>
          <p>1.6 BIL. km</p>
        </div>
        <div>
          <span>Est. travel time</span>
          <p>7 years</p>
        </div>
      </div>
    </div>
  </div>
</div>
