<nav class="navbar">
  <div class="navbar-expand">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./comander']"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./mission']"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./pilot']"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./engineer']"></a>
      </li>
    </ul>
  </div>
</nav>
