<div class="container">
  <div class="row">
    <div class="col">
      <p id="title"><span>01</span>PICK YOUR DESTINATION</p>
      <img src="../../../assets/destination/image-europa.png" alt="">
    </div>
    <div class="col" id="text">
      <h3>europa</h3>
      <p>The smallest of the four Galilean moons orbiting Jupiter,
        Europa is a winter lover’s dream. With an icy surface, it’s
        perfect for a bit of ice skating, curling, hockey, or simple
        relaxation in your snug wintery cabin.v!</p>
      <hr>
      <div id="data">
        <div>
          <span>Avg. distance</span>
          <p>628 MIL. km</p>
        </div>
        <div>
          <span>Est. travel time</span>
          <p>3 years</p>
        </div>
      </div>
    </div>
  </div>
</div>
